.body {
    background-color: #202024;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    max-width: 1920px;
    background-image: url(./img/background-header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header__text {
    margin: 0 auto;
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding-bottom: 19px;
}

.header__border-title {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    max-width: 1440px;
}

.question {
    display: flex;
    max-width: 1920px;
    flex-direction: column;
    background-image: url(./img/background-header.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.question__description {
    color: rgba(255, 255, 255, .6);
    font-size: 25px;
    text-align: center;
    font-style: italic;
    margin: 12px auto 64px;
}

.question__img {
    display: flex;
    background-image: url(./img/eyes.svg);
    background-position: center;
    height: 238px;
    width: 238px;
    padding: 53px;
    margin: 0 auto;
}

.question__title {
    color: #F6C866;
    font-size: 25px;
    font-weight: 300;
    width: 500px;
    margin: 23px auto 54px;
    text-align: center;
}

.question__text {
    display: flex;
    margin: 17px auto 28px;
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__button {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: #fff;
    height: 70px;
    width: 316px;
    align-content: center;
    justify-content: center;
    background: linear-gradient(60deg, rgba(242, 200, 102, .9) 0%, rgba(255, 255, 255, .9) 27%, rgba(242,200,102, .9) 0%);
    /* background-color: rgba(242, 200, 102, .9); */
    border-radius: 40px;
    margin: 17px auto;
}

.description {
    border: 1px solid #fff;
    width: 442px;
    height: 437px;
    margin: 100px auto 0;
    position: relative;
    display: flex;
}

.description__img {
    position: absolute;
    height: 135px;
    width: 135px;
    top: -67px;
    left: 153.5px;
}

.description__text {
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    position: relative;
    width: 365px;
    margin: auto auto 83px;
}

.description-block {
    display: flex;
    /* background-image: url(./img/landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 69px auto auto;
    width: 1440px;
    height: 606px;
    position: relative;
}

.description-block__landscape {    
    box-sizing: border-box;
    display: flex;
    width: 1440px;
    margin: 0 auto;
    height: 606px;
    object-fit: cover;
}

.description-block__text {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    width: 380px;
    height: 258px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 240px;
    left: 531px;
}

.survey {
    display: flex;
    flex-direction: column;
}

.survey-form__title {
    color: #F6C866;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin: 133px auto 30px;
}

.survey-form__text {
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    text-align: center;
    margin: 17px auto 105px;
    font-style: italic;
}

.footer {
    padding-bottom: 152px;
    position: relative;
}

.footer__svg {
    display: flex;
    margin: 0 auto;
}

.footer__text {
    font-family: 'Bad Script';
    width: 407px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    margin: 80px auto;
}

.footer__eye {
    position: absolute;
    bottom: 358px;
    right: 152px;
}

.footer__moon {
    position: absolute;
    bottom: 48px;
    left: 153px;
}

.accent {
    color: #F6C866;
}